@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Raleway:wght@300;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  min-height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-width: max-content;
  min-height: max-content;
  gap: 5em;
}

h1 {
  text-align: center;
  margin: 10% auto 15px;
  font-family: "Kaushan Script";
  font-size: 5em;
}

p {
  font-family: "Raleway";
  color: #eee;
}

.card {
  max-width: 30em;
  max-height: min-content;
  border-radius: 20px;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 230px;
  display: block;
  margin: 10px;
  margin-bottom: 25px;
  border-radius: 10px;
  transition: all 0.5s ease-out;
}

.card.ig {
  background-image: linear-gradient(#fff, 75%, #b13abc);
}

.card.vk {
  background-image: linear-gradient(#fff, 75%, #0077ff);
}

.card.yt {
  background-image: linear-gradient(#fff, 75%, #cd201f);
}

.card img:hover {
  transform: scale(1.04);
}

.card p:first-of-type {
  font-weight: 600;
  font-size: 2em;
  margin-bottom: 0.6em;
  text-align: center;
}

.card p:last-child {
  margin-bottom: 30px;
  text-align: center;
}
